
<launch>

    <node pkg="octomap_server" type = "octomap_server_node" name="octomap_server">

        <param name ="resolution" value="0.05" />
        <param name = "frame_id" type="str" value="foot_init" />

        <!-- 静态地图 -->
        <param name="latch" value="true" />


        <!-- 点云高度裁剪 -->
        <param name = "pointcloud_max_z" value="1.8" />
        <param name = "pointcloud_min_z" value="0.1" />

        <!-- 传感器模型（抑制噪点） -->
        <param name="sensor_model/max_range" value="20.0" />

        <!-- 默认：0.7 0.4   减小有助于滤除动态障碍物-->
        <param name="sensor_model/hit"  value="0.6" />
        <param name="sensor_model/miss" value="0.3" />

        <param name="sensor_model/min"  value="0.12" />
        <param name="sensor_model/max"  value="0.97" />

        
        <!-- 地面过滤（可选） -->
        <param name="filter_ground" value="true" />

        
        <remap from ="cloud_in" to="/cloud_registered" />

    </node>

    
</launch>